.chart-icon {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 0.25rem;
  cursor: pointer;
}
.disabled-chart-icon {
  pointer-events: none; /* Disables click and other events */
  opacity: 0.5; /* Makes the element appear dimmed */
  cursor: not-allowed; /* Shows a 'not-allowed' cursor */
}
